# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
ENV/

# Jupyter
.ipynb_checkpoints/

# Distribution / packaging
build/
dist/
*.egg-info/

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Data outputs
results/
